.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;

  & .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $title-color;
    margin-top: 0;
    margin-bottom: 50px;
  }
  & .list-clients {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  & .blok-client:not(:last-child) {
    margin-right: 30px;
  }
  & .icon-client {
    fill: $icon-color;

    /* свойства анимации */
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.link-client {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  /* свойства анимации */
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .icon-client,
  &:focus .icon-client {
    fill: $accent-color;
  }
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
